* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    position: relative;
    background-image: url("./assets/images/img2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem;
    overflow-x: hidden;
}

.glassfilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(135deg, rgba(38, 122, 217, 0.25), rgba(15, 61, 121, 0.15));
}

.container {
    color: white;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow:
        inset 0 0 10px rgba(255, 255, 255, 0.2);
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem 1rem 0 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 1rem 1.5rem;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem 2rem;
    flex-wrap: wrap;
}

.tabs a {
    text-decoration: none;
    color: white;
    font-size: small;
    padding: 0.5rem;
}

.tabActive,
.tabs a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.NameTitle {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.3rem;
}

.shortProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nameLogo {
    border-radius: 50%;
    background: #216fc9;
    font-size: 1.5rem;
    padding: 0.3rem;
    min-width: 2rem;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nt2 {
    font-size: 0.6rem;
    font-weight: bold;
}

.heroSection {
    display: flex;
    justify-content: space-between;
    height: 60%;
    flex-wrap: wrap;
    margin: 2rem 4rem;
    gap: 1rem;
}

.profileCard {
    position: relative;
    width: 30%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    padding: 3rem 2rem 1rem 2rem;
}

.profileImg {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    height: 85%;
    border-radius: 0 0 1rem 0;
    z-index: -1;
}

.pcd1 {
    text-align: left;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    width: max-content;
}

.pcdp2 {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.pcd2 {
    text-align: left;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.pcd2 div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.pcd3 {
    text-align: left;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pcd3 a {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 0.3rem;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcd3 a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.introText {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Status {
    width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
}

.tagLine {
    text-align: left;
    font-size: 1.8rem;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shortInfo {
    margin: 0 4rem 2rem 4rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.2);
    text-align: justify;
}

.focusArea {
    display: flex;
    margin: 0 4rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.focusArea div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.2);
    min-width: 18rem;
    flex: 1;
}

.focusArea div img,
.educationContainer img,
.contactContainer img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 0.7rem;
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.2);
    width: 2rem;
    height: 2rem;
}

.fainfo {
    font-size: 0.8rem;
    text-align: justify;
}

.skillSection,
.projectsSection,
.educationSection,
.educationSection {
    margin-top: 2rem;
}

.skillsContainer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 4rem 0 4rem;
    gap: 4rem;
    height: min-content;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    list-style-type: none;
    font-size: 0.8rem;
}

li {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 0.3rem 0.5rem;
}

.skillsContainer .skillBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 18rem;
    flex: 1;
}

.skillsContainer h3 {
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 0.5rem;

}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
    gap: 1rem;
    margin: 2rem 4rem;
}

.projectCard {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.2);
    padding: 1rem;
    height: 30rem;
}

.pimg {
    width: 100%;
}

.projectCard p {
    font-size: 0.8rem;
    text-align: left;
}

.projectCard ul {
    margin: 0.5rem 0;
}

.plink {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
}

.projectCard a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
    color: white;
    padding: 0.3rem 0.5rem;
}

.projectCard a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
}

.projectCard a img {
    border-radius: 0.5rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem;
}

.educationContainer {
    margin: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
    gap: 1rem;
}

.Card {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;
}

.eciti,
.cciti {
    font-size: 0.8rem;
    font-weight: bold;
}

.ccip {
    overflow-wrap: anywhere;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 4rem;
    flex-wrap: wrap;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    flex: 1;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.contactContainer form input,
textarea {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.2);
    height: 2rem;
    padding: 0.5rem 0.7rem;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contactContainer form textarea {
    resize: vertical;
    height: 5.5rem;
}

.contactContainer form button, .introText button {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.2);
    color: #ffffff;
    width: min-content;
    padding: 0.5rem 0.8rem;
    align-self: flex-end;
    cursor: pointer;
}

.introText button {
    align-self: flex-start;
}

.introText .downloadResume {
    width: min-content;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    flex: 1;
}

@media screen and (max-width: 995px) {
    .profileCard {
        width: max-content;
    }

    .profileImg {
        display: none;
    }
}


@media screen and (max-width: 902px) {
    .tabs {
        flex-grow: 1;
    }

    .profileCard {
        width: 20rem;
    }

    .profileImg {
        display: block;
    }

    .heroSection {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .heroSection {
        margin: 2rem 2rem;
    }

    .shortInfo {
        margin: 0 2rem 2rem 2rem;
    }

    .focusArea {
        margin: 0 2rem;
    }

    .skillsContainer {
        margin: 2rem 2rem 0 2rem;
    }

    .projectsContainer {
        margin: 2rem 2rem;
    }

    .educationContainer {
        margin: 2rem 2rem;
    }

    .contactContainer {
        margin: 2rem 2rem;
    }
}

@media screen and (max-width: 500px) {
    .profileImg {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    body {
        padding: 1rem;
    }

    .heroSection {
        margin: 1rem 1rem 1.5rem 1rem;
    }

    .shortInfo {
        margin: 0 1rem 1rem 1rem;
    }

    .focusArea {
        margin: 0 1rem;
    }

    .skillsContainer {
        margin: 1rem 1rem 0 1rem;
    }

    .projectsContainer {
        margin: 1rem 1rem;
    }

    .educationContainer {
        margin: 1rem 1rem;
    }

    .contactContainer {
        margin: 1rem 1rem;
    }

    .aboutSection {
        gap: 1.5rem;
    }

    .skillSection,
    .projectsSection,
    .educationSection,
    .educationSection {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 375px) {
    body {
        padding: 0.5rem;
    }

    .heroSection {
        margin: 1rem 0.5rem 1.5rem 0.5rem;
    }

    .shortInfo {
        margin: 0 0.5rem 1rem 0.5rem;
        width: 16rem;
    }

    .focusArea {
        margin: 0 0.5rem;
        gap: 1rem;
    }

    .skillsContainer {
        margin: 0.5rem 0.5rem 0 0.5rem;
    }

    .projectsContainer {
        margin: 0.5rem 0.5rem;
    }

    .educationContainer {
        margin: 0.5rem 0.5rem;
    }

    .contactContainer {
        margin: 0.5rem 0.5rem;
    }

    .skillSection,
    .projectsSection,
    .educationSection,
    .educationSection {
        margin-top: 1rem;
    }

    .focusArea div {
        min-width: 16rem;
    }
}