* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("./assets/images/img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95%;
    height: 90%;
    color: white;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow:
        inset 0 0 10px rgba(255, 255, 255, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem 1rem 0 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow:
        inset 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 1rem 1.5rem;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tabs a {
    text-decoration: none;
    color: white;
    font-size: small;
    padding: 0.5rem;
}

.tabActive,
.tabs a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.NameTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}

.shortProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    border-radius: 50%;
    background: #267ad9;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nt2 {
    font-size: 0.6rem;
    font-weight: bold;
}

.heroSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    border: 1px solid red;
}

.profilePhoto {
    width: 30%;
    margin: 2rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow:
        inset 0 0 10px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.profileImg {
    width: 60%;
    height: auto;
    border-radius: 0 0 1rem 0;
}