* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    position: relative;
    background-image: url("./assets/images/img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    overflow-x: hidden;
}

.glassfilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(135deg, rgba(38, 122, 217, 0.25), rgba(15, 61, 121, 0.15));
}

.container {
    color: white;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow:
        inset 0 0 10px rgba(255, 255, 255, 0.2);
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem 1rem 0 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow:
        inset 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 1rem 1.5rem;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tabs a {
    text-decoration: none;
    color: white;
    font-size: small;
    padding: 0.5rem;
}

.tabActive,
.tabs a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.NameTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}

.shortProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    border-radius: 50%;
    background: #216fc9;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nt2 {
    font-size: 0.6rem;
    font-weight: bold;
}

.heroSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    /* border: 1px solid red; */
}

.profileCard {
    position: relative;
    width: 30%;
    margin: 2rem 4rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    padding: 3rem 2rem 1rem 2rem;
}

.profileImg {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 60%;
    height: auto;
    border-radius: 0 0 1rem 0;
}

.pcd1 {
    text-align: left;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    width: max-content;
}

.pcdp1 {
    background: linear-gradient(to right, #216fc9, #3221c9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.pcdp2 {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.pcd2 {
    text-align: left;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.pcd2 div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.pcd3 {
    text-align: left;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pcd3 a {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 0.3rem;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcd3 a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.introText {
    width: 45%;
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid yellow; */
}

.Status {
    width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
}

.tagLine {
    text-align: left;
    font-size: 1.9rem;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.shortInfo {
    margin: 0 4rem 2rem 4rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.focusArea {
    display: flex;
    margin: 0 4rem;
    gap: 1.5rem;
}

.focusArea div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.focusArea div img {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 0.7rem;
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.2);
    width: 2rem;
    height: 2rem;
}